html {
    --subtle-text-color: #C9C9CF;
    --text-color: #DFDFE2;
    --link-color: #3FA34D;
    --link-hover-color: #5BBA6F;
    --background-color: #000000;
    --line-color: #454955;
    --line-hover-color: #656B7B;
}

@import "bourbon";

@import "variables";
@import "base/base";

@import "layout";
@import "syntax-highlighting";
