<footer class="site-footer">
  <div class="container">
    <small class="pull-left">squeak</small>
    <small class="pull-right">[<a href="/privacy/">privacy</a>] - [<a href="/tenets/">tenets</a>] - [<a href="/">index</a>]</small>
  </div>
</footer>
