// #{$all-buttons} {

.button {
  appearance: none;
  background-color: var(--link-color);
  border: 0;
  border-radius: $base-border-radius;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: var(--link-hover-color);
    color: var(--text-color);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: var(--link-color);
    }
  }
}
