---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <main class="wrapper">
      <article class="page container">
        <div class="page-content">
          {{ content }}
        </div>
      </article>      
      {% include footer.html %}
    </main>
  </body>
</html>
